# macOS
.DS_Store

# Xcode user data
*.xcuserdatad
*.xcuserstate
*.xccheckout
*.moved-aside
*.pbxuser
xcuserdata/

# Build outputs
build/
DerivedData/
*.app/

# Swift Package Manager
.build/

# Internal / private folders
mobile/
SplitViewBrowser_GitHub_Copy/
VERSION_HISTORY.md
GitHub_Public_Mac/
